### Data Analytics

### Homework 4: Heroes of Pymoli Data Analysis
* * Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.cm as cm
# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()
# I want to make the data more visible so I am adding more color
wdata = purchase_data.loc[:3].style.background_gradient(cmap='viridis', low=.4, high=0)
wdata

In [143]:
#Let's get rid of all of the data that not's needed for now 
#Play with it 
df = pd.DataFrame({"Total Player":[purchase_data]})
wdata.hide_index()
dat = pd.DataFrame(purchase_data)
data = pd.DataFrame(purchase_data)
unq =data.dropna(how='all')
unq = data.drop_duplicates('SN')
data = unq

## Player Count

In [133]:
player = data.drop(['Purchase ID', 'Item ID', 'Item Name', 'Price'], axis=1)
player = player.drop_duplicates('SN')
player_count = pd.DataFrame({"Player Count": [player['SN'].count()]
                            })
player_count

   Player Count
0           576

In [134]:
purchase_frame = pd.DataFrame(purchase_data)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [135]:
summary_data = pd.DataFrame({"Number of Unique Items":  [data['Item ID'].nunique()],
                            "Average Price": [data['Price'].mean()],
                            "Number of Purchases" : [data["Purchase ID"].count()],
                             "Total Revenue" : [data["Price"].sum()]})

In [136]:
#Format to dollar symbol, commas and also round off to two decimal places
#pd.options.display.float_format = '${:,.2f}'.format
summary_data

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.070573                  576                     176        1768.65

In [137]:
gender_demo = player.drop(['SN'], axis=1)
g = gender_demo.set_index(['Age'])
g = g['Gender'].value_counts()
#unq = data.drop_duplicates('SN')
#unq_G = unq['Gender'].value_counts()
#player['Gender'].value_counts() / player['Gender'].count() * 100
#player['Gender'].value_counts()
gender_dem = pd.DataFrame({"Percentage of Players": g / player['Gender'].count() * 100, 
                           "Total Count": g
                         })
#precise_gender_dem = pd.DataFrame({"Percentage of Players": g / unq.SN.count() * 100, 
#                         "Total Count": g
#                          })

## Gender Demographics

In [125]:
gender_dem.round(2)

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [138]:
# Define the aggregation procedure outside of the groupby operation
# This work but it appears that's depreceated s let's apply it 
#aggregations = {
#    'Price': {
#        'Purchase Count':   'count',
#        'Average Purchase Price' : 'mean',
#        'Total Purchase Value': 'sum',
#        'Normalized Totals': 'mean'
#    }
#}
#d = data.groupby('Gender').agg(aggregations)

# Create a series 
def grouping(column):
    d = {}
    d['Purchase Count'] = column['Purchase ID'].count()
    d['Average Purchase Price'] = column['Price'].mean()
    d['Total Purchase Value'] = column['Price'].sum()
    d['Normalized Totals'] = ( d['Total Purchase Value'] / d['Purchase Count']).sum()
    return pd.Series(d, index=['Purchase Count', 
                               'Average Purchase Price', 
                               'Total Purchase Value', 
                               'Normalized Totals'])

purchasing_Anly = data.groupby('Gender').apply(grouping)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
purchasing_Anly.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,81.0,3.17,256.43,3.17
Male,484.0,3.05,1474.70,3.05
Other / Non-Disclosed,11.0,3.41,37.52,3.41

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [140]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

gender_demo['Ages'] = pd.cut(gender_demo['Age'], age_bins, labels=group_names)
gender_demo
tc = gender_demo['Ages'].value_counts()
pp = tc / g.sum() * 100
grouped_by_age = gender_demo.groupby('Ages').size()

grouped_by_ages = pd.DataFrame({'Total Count': tc, 'Percent of Players': pp})
#gender_demo

#grouped_by_ages.index = grouped_by_age.index
grouped_by_ages.round(2)

       Percent of Players  Total Count
20-24               44.79          258
15-19               18.58          107
25-29               13.37           77
30-34                9.03           52
35-39                5.38           31
10-14                3.82           22
<10                  2.95           17
40+                  2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
#data
# drop all dups
p_analysis = data.drop_duplicates('SN')
# prev
p_analysis
# make the index == to age_bin
p_analysis.index = pd.cut(p_analysis['Age'], age_bins, labels=group_names)
# drop age as row since we have it set on the index
panalysis = p_analysis.drop(['Age'], axis=1)
#prew
panalysis
#apply grouping 
purchase_by_Age= panalysis.groupby('Age').apply(grouping)

purchase_by_Age.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,17.0,3.39,57.63,3.39
10-14,22.0,3.07,67.64,3.07
15-19,107.0,3.10,331.88,3.10
20-24,258.0,3.06,790.39,3.06
25-29,77.0,2.91,223.93,2.91
30-34,52.0,2.92,151.92,2.92
35-39,31.0,3.51,108.81,3.51
40+,12.0,3.04,36.45,3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [153]:
def pricing(column):
    d = {}
    d['Purchase Count'] = column['Price'].count()
    d['Average Purchase Price'] = column['Price'].mean()
    d['Total Purchase Value'] = column['Price'].sum()
    return pd.Series(d, index=['Purchase Count', 
                               'Average Purchase Price', 
                               'Total Purchase Value' ])

top_spenders = dat.groupby('SN').apply(pricing)
top_spenders = top_spenders.sort_values(by='Total Purchase Value', ascending=False)
top_spenders.head().round(2)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93               5.0                    3.79                 18.96
Idastidru52             4.0                    3.86                 15.45
Chamjask73              3.0                    4.61                 13.83
Iral74                  4.0                    3.40                 13.62
Iskadarya95             3.0                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [162]:
def popular_item(column):
    d = {}
    d['Purchase Count'] = column['Price'].count()
    d['Item Price'] = column['Price'].mean()
    d['Total Purchase Value'] = column['Price'].sum()
    return pd.Series(d, index=['Purchase Count', 
                               'Item Price', 
                               'Total Purchase Value' ])


most_popular_items = dat.groupby(['Item ID','Item Name']).apply(popular_item)
most_popular_items = most_popular_items.sort_values(by='Purchase Count', ascending=False)
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
145,Fiery Glass Crusader,9.0,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9.0,3.53,31.77
82,Nirvana,9.0,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8.0,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [164]:

most_profitable_items =  most_popular_items.sort_values(by='Total Purchase Value', ascending=False)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,4.23,50.76
82,Nirvana,9.0,4.90,44.10
145,Fiery Glass Crusader,9.0,4.58,41.22
92,Final Critic,8.0,4.88,39.04
103,Singed Scalpel,8.0,4.35,34.80