### Data Analytics

### Homework 4: Heroes of Pymoli Data Analysis
* * Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [135]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.cm as cm
# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()
# I want to make the data more visible so I am adding more color
wdata = purchase_data.loc[:3].style.background_gradient(cmap='viridis', low=.4, high=0)
wdata

In [134]:
#Let's get rid of all of the data that not's needed for now 
#Play with it 
df = pd.DataFrame({"Total Player":[purchase_data]})
wdata.hide_index()
data = pd.DataFrame(purchase_data)

## Player Count

In [136]:
player = data.drop(['Purchase ID', 'Item ID', 'Item Name', 'Price'], axis=1)
player = player.drop_duplicates('SN')
player_count = pd.DataFrame({"Player Count": [player['SN'].count()]
                            })
player_count

   Player Count
0           576

In [142]:
purchase_frame = pd.DataFrame(purchase_data)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
summary_data = pd.DataFrame({"Number of Unique Items":  [data['Item ID'].nunique()],
                            "Average Price": [data['Price'].mean()],
                            "Number of Purchases" : [data["Purchase ID"].count()],
                             "Total Revenue" : [data["Price"].sum()]})

In [146]:
#Format to dollar symbol, commas and also round off to two decimal places
#pd.options.display.float_format = '${:,.2f}'.format
summary_data

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780      $2,379.77

In [147]:
gender_demo = player.drop(['SN'], axis=1)
g = gender_demo.set_index(['Age'])
g = g['Gender'].value_counts()
#unq = data.drop_duplicates('SN')
#unq_G = unq['Gender'].value_counts()
#player['Gender'].value_counts() / player['Gender'].count() * 100
#player['Gender'].value_counts()
gender_dem = pd.DataFrame({"Percentage of Players": g / player['Gender'].count() * 100, 
                           "Total Count": g
                         })
#precise_gender_dem = pd.DataFrame({"Percentage of Players": g / unq.SN.count() * 100, 
#                         "Total Count": g
#                          })

## Gender Demographics

In [148]:
gender_dem.round(2)

                       Percentage of Players  Total Count
Male                                  $84.03          484
Female                                $14.06           81
Other / Non-Disclosed                  $1.91           11

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [149]:
# Define the aggregation procedure outside of the groupby operation
# This work but it appears that's depreceated s let's apply it 
#aggregations = {
#    'Price': {
#        'Purchase Count':   'count',
#        'Average Purchase Price' : 'mean',
#        'Total Purchase Value': 'sum',
#        'Normalized Totals': 'mean'
#    }
#}
#d = data.groupby('Gender').agg(aggregations)

# Create a series 
def grouping(column):
    d = {}
    d['Purchase Count'] = column['Purchase ID'].count()
    d['Average Purchase Price'] = column['Price'].mean()
    d['Total Purchase Value'] = column['Price'].sum()
    d['Normalized Totals'] = ( d['Total Purchase Value'] / d['Purchase Count']).sum()
    return pd.Series(d, index=['Purchase Count', 
                               'Average Purchase Price', 
                               'Total Purchase Value', 
                               'Normalized Totals'])

purchasing_Anly = data.groupby('Gender').apply(grouping)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
purchasing_Anly

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,$113.00,$3.20,$361.94,$3.20
Male,$652.00,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,$15.00,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [197]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

gender_demo['Ages'] = pd.cut(gender_demo['Age'], age_bins, labels=group_names)
ages_grp = gender_demo.groupby('Ages')['Gender'].value_counts()

ages_grp

Ages   Gender
<10    Male                      13
       Female                     4
10-14  Male                      19
       Female                     3
15-19  Male                      86
       Female                    17
       Other / Non-Disclosed      4
20-24  Male                     214
       Female                    40
       Other / Non-Disclosed      4
25-29  Male                      68
       Female                     8
       Other / Non-Disclosed      1
30-34  Male                      47
       Female                     5
35-39  Male                      26
       Female                     3
       Other / Non-Disclosed      2
40+    Male                      11
       Female                     1
Name: Gender, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame